* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.small-text {
  font-size: 13px;
  color: #6d7275;
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

#root {
  background: linear-gradient(to bottom, #009788 20%, #dbdbd1 20%, #dddbd2, #d2dbdc);
  width: 100%;
  /* An element with position: fixed; is positioned relative to the viewport*/
  position: fixed;
}

.app-container {
  width: 85%;
  min-width: 950px;
  height: 95vh;
  margin: 2.5vh auto;
  display: flex;
}

/* custom scroll bar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #eaeaea;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 5px;
}

.sidebar {
  width: 35%;
  border-right: 2px solid #cecece;
}

.user-section, .friend-section {
  height: 70px;
  padding: 12px 0 12px 12px;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name, .friend-name {
  display: flex;
  align-items: center;
}

.avatar-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.icons span {
  display: inline-block;
  color: #b1b1b1;
  width: 30px;
  height: 30px;
  font-size: 26px;
  margin-left: 8px;
  cursor: pointer;
}

.icons span:hover {
  color: #6d7275;
}

.notification-message {
  height: 90px;
  background-color: #8edafc;
  display: flex;
  align-items: center;
  padding: 15px;
}

.notification-message span {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
  color: #8edafc;
  margin-right: 15px;
}

.notification-message i {
  transform: translateY(50%);
}

.notification-message .small-text {
  cursor: pointer;
}

.search-friend {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-friend input {
  width: 95%;
  padding: 8px 8px 8px 40px;
  border-radius: 5px;
  border: none;
  background: #fff url("../img/search.png") no-repeat left;
  background-size: contain;
}

.friends-list {
  height: calc(100% - 210px);
  background-color: white;
  overflow-y: scroll;
}

.friend {
  padding: 10px;
  display: flex;
  align-items: center;
  border-top: 1px solid #eaeaea;
  cursor: pointer;
}

.friend:hover {
  background-color: #eaeaea;
}

.chat-container {
  width: 65%;
  min-height: 210px;
  position: relative;
}

.main-chat {
  background-image: url(../img/mine.jpg);
  height: calc(100% - 70px - 70px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.user-message, .friend-message {
  word-wrap: break-word;
  border-radius: 10px;
  padding: 8px 8px 4px 8px;
  min-width: 150px;
  max-width: 500px;
  margin: 8px 15px 8px auto;
}

.user-message {
  background-color: #d8febd;
  margin: 8px 15px 8px auto;
}

.friend-message {
  background-color: white;
  margin: 8px auto 8px 15px;
}

.timestamp {
  color: #6d7275;
  font-size: 10px;
  text-align: right;
  padding-top: 4px;
}

.chat-text {
  height: 70px;
  width: 100%;
  background-color: #eaeaea;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.chat-text span {
  display: inline-block;
  color: #6d7275;
  width: 30px;
  height: 30px;
  font-size: 26px;
  cursor: pointer;
  text-align: center;
}

.chat-text input {
  width: 85%;
  padding: 12px;
  border-radius: 5px;
  border: 1.5px solid #6d7275;
}
