<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>boolzapp</title>
  </head>
  <body>
    <!-- contenitore pagina -->
    <div id="root">
      <!-- contenitore applicazione -->
      <div class="app-container">

        <!-- sidebar -->
        <div class="sidebar">

          <div class="user-section">
            <div class="user-name bold">
              <img class="avatar-img" src="img/avatar_io.jpg" alt="">
              <div>Nome Utente</div>
            </div>
            <div class="icons">
              <span><i class="fa fa-circle-o-notch" aria-hidden="true"></i></span>
              <span><i class="fa fa-comment" aria-hidden="true"></i></span>
              <span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
            </div>
          </div>

          <div class="notification-message">
            <span><i class="fa fa-bell-slash" aria-hidden="true"></i></span>
            <div>
              <div class="text bold">Ricevi notifiche di nuovi messaggi</div>
              <div class="small-text"><u>Attiva notifiche desktop</u></div>
            </div>
          </div>

          <div class="search-friend">
            <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchInput" @keyup.enter="searchFriend" @input="filterFriend">
          </div>
          <div class="friends-list">
            <!-- stampa il div solo se il contatto è visibile -->
            <div class="friend bold" v-for="(contact, index) in contacts" v-if="(contact.visible === true)" @click="changeChat(index)">
              <img class="avatar-img" :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
              {{contact.name}}
            </div>
          </div>

        </div>

        <div class="chat-container">

          <div class="friend-section">
            <div class="friend-name bold">
              <img class="avatar-img" :src="'img/avatar' + contacts[currentContactIndex].avatar + '.jpg'" alt="">
              <div>{{contacts[currentContactIndex].name}}
                <div class="small-text">Ultimo accesso {{lastAccess(currentContactIndex)}}</div>
              </div>
            </div>
            <div class="icons">
              <span><i class="fa fa-search" aria-hidden="true"></i></span>
              <span><i class="fa fa-paperclip" aria-hidden="true"></i></span>
              <span><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
            </div>
          </div>

          <div class="main-chat">
            <!-- un div per ogni messaggio del contatto con il currentContactIndex -->
            <!-- classe user-message se il messaggio è inviato, classe friend-message se il messaggio è ricevuto -->
            <div v-for="message in contacts[currentContactIndex].messages" :class="message.status === 'sent' ? 'user-message' : 'friend-message'">
              {{message.text}}
              <div class="timestamp">{{message.date}}</div>
            </div>

          </div>

          <div class="chat-text">
            <span><i class="fa fa-smile-o" aria-hidden="true"></i></span>
            <input type="text" placeholder="Scrivi un messaggio" v-model="message" @keyup.enter="sendMessage">
            <span><i class="fa fa-microphone" aria-hidden="true"></i></span>
          </div>

        </div>

      </div>

    </div>
  <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
